In [1]:
import numpy as np
import pandas as pd
from sklearn import feature_extraction, linear_model, model_selection, preprocessing 
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer 

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [2]:
#what does the data look like

train_df.iloc[:1,:]
clense_data=True

In [3]:
# what do disaster tweets looke like

disasters = train_df[train_df["target"]==1]
disasters.iloc[:2,:]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1

In [4]:
#what do non disaster tweets look like
print ("non_disaster tweet")
non_disasters = train_df[train_df["target"]==0]
non_disasters.iloc[:2,:]

non_disaster tweet

    id keyword location            text  target
15  23     NaN      NaN  What's up man?       0
16  24     NaN      NaN   I love fruits       0

In [5]:
#clense data is so instructed, to test whether cleaning data improves performance
#lets clean the data
if (clense_data==True):
    %run DataClenser.ipynb
    train_df['text'] = train_df['text'].apply(lambda x: text_clense(x))

Dillindallin
Daalia
getting started

What shall we do today zequestion
haa

In [6]:

count_vectorizer = feature_extraction.text.CountVectorizer()

In [7]:
#what if there are different words in train and test set? Assume training set big enough

train_vectors = count_vectorizer.fit_transform(train_df["text"])
test_vectors = count_vectorizer.transform(test_df["text"])

In [8]:

#tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
tfidf_transformer = TfidfTransformer()
train_tfidf = tfidf_transformer.fit_transform(train_vectors)
train_tfidf.shape

(7613, 17798)

In [9]:
from sklearn.naive_bayes import MultinomialNB
text_clf = MultinomialNB().fit(train_tfidf, train_df["target"])
train_df["target"]

0       1
1       1
2       1
3       1
4       1
       ..
7608    1
7609    1
7610    1
7611    1
7612    1
Name: target, Length: 7613, dtype: int64

In [10]:
scores = model_selection.cross_val_score(text_clf, train_vectors, train_df["target"], cv=3, scoring="f1")
scores

array([0.67159035, 0.65848113, 0.72546476])

In [11]:
#scores = model_selection.cross_val_score(tfidf, train_vectors, train_df["target"], cv=3, scoring="f1")
#scores
predicted = text_clf.predict(test_vectors)

In [12]:
sample_submission = pd.read_csv("sample_submission.csv")
sample_submission["target"] = text_clf.predict(test_vectors)
sample_submission.head()

   id  target
0   0       1
1   2       0
2   3       1
3   9       1
4  11       1

In [13]:
if (clense_data==True):
    sample_submission.to_csv("submission2_clensed_data.csv", index=False)
else:
    sample_submission.to_csv("submission2.csv", index=False)

In [44]:
#tsekataan miten hyvin tää meni
import matplotlib.pyplot as plt