Sample NLP notebook from Kaggle to get started. USed it as boilerplate for futher algortith trials.

Analyse provided twitter data that is pre-processed to find out 
natural catastrophe tweets from it.

In [2]:
import numpy as np #linear algebra
import pandas as pd #CSV file io, data processing
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [3]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

What do tweets look like that are not natural catastrophes?

In [12]:
train_df[train_df["target"]==0]

,id,keyword,location,text,target
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
...,...,...,...,...,...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0
7584,10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0
7587,10841,NaN,NaN,Sirens everywhere!,0
7593,10848,NaN,NaN,I just heard a really loud bang and everyone i...,0

How about tweets of natural catastrophes?

In [13]:
train_df[train_df["target"]==1]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [15]:
train_df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [23]:
train_df.iloc[:2,:]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1

In [26]:
count_vectorizer = feature_extraction.text.CountVectorizer()

#let's get counts for first 5 tweets
example_train_vectors = count_vectorizer.fit_transform(train_df["text"][0:5])

In [33]:
example_train_vectors[1].todense().shape
example_train_vectors[0].todense()

matrix([[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
         0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0]])

In [43]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])
test_vectors = count_vectorizer.transform(test_df["text"])

In [44]:
clf = linear_model.RidgeClassifier()

In [48]:
scores = model_selection.cross_val_score(clf,train_vectors,train_df["target"], cv=3, scoring="f1")
scores

array([0.60355649, 0.57607656, 0.64454064])

In [49]:
clf.fit(train_vectors, train_df["target"])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [56]:
sample_submission = pd.read_csv("sample_submission.csv")

In [60]:
sample_submission["target"] = clf.predict(test_vectors)

In [61]:
sample_submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1

In [62]:
sample_submission.to_csv("submission.csv", index=False)