Sample NLP notebook from Kaggle to get started. Used it as boilerplate for futher algortith trials.
https://www.kaggle.com/philculliton/nlp-getting-started-tutorial

Analyse provided twitter data that is pre-processed to find out 
natural catastrophe tweets from it.

In [200]:
import numpy as np #linear algebra
import pandas as pd #CSV file io, data processing
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [201]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

What do tweets look like that are not natural catastrophes?

In [202]:
train_df[train_df["target"]==0]
clense_data=True

How about tweets of natural catastrophes?

In [203]:
train_df[train_df["target"]==1]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [204]:
train_df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [205]:
train_df.iloc[:2,:]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1

In [206]:
#clense data is so instructed, to test whether cleaning data improves performance
#lets clean the data
if (clense_data==True):
    %run DataClenser.ipynb
    train_df['text'] = train_df['text'].apply(lambda x: text_clense(x))

Requirement already satisfied: pyspellchecker in /Users/marttiylikoski/opt/anaconda3/lib/python3.7/site-packages (0.5.4)

In [207]:
count_vectorizer = feature_extraction.text.CountVectorizer()

#let's get counts for first 5 tweets
example_train_vectors = count_vectorizer.fit_transform(train_df["text"][0:5])

In [208]:
example_train_vectors[1].todense().shape
example_train_vectors[0].todense()

matrix([[0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
         0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]])

In [209]:
train_vectors = count_vectorizer.fit_transform(train_df["text"])
test_vectors = count_vectorizer.transform(test_df["text"])
#count_vectorizer.get_feature_names()
#count_vectorizer.vocabulary_
#https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [214]:
clf = linear_model.RidgeClassifier()

In [224]:
scores = model_selection.cross_val_score(clf,train_vectors,train_df["target"], cv=3, scoring="f1")
scores

array([0.60941542, 0.55202312, 0.62224308])

In [225]:
sample_submission = pd.read_csv("sample_submission.csv")

In [226]:
sample_submission["target"] = clf.predict(test_vectors)

In [227]:
sample_submission.head()

   id  target
0   0       1
1   2       0
2   3       1
3   9       0
4  11       1

In [228]:
if (clense_data==True):
    sample_submission.to_csv("submission_clensed_data.csv", index=False)
else:
    sample_submission.to_csv("submission.csv", index=False)

In [229]:
clf.fit(train_vectors, train_df["target"])
#print("coefficients", clf.coef_)
#print (type (clf.coef_))
features_by_ind = count_vectorizer.get_feature_names()
#count_vectorizer.vocabulary_
ordern = []
coeffs=np.vstack(clf.coef_)
for i in range(len(clf.coef_[0])):
    ordern.append(i)
coeffs=np.column_stack((ordern,clf.coef_[0]))
#print (b)

sorted_array = coeffs[np.argsort(coeffs[:, 1])]
sorted_array[1][1]

wc = len(sorted_array)
for i in range(20):
    ind = wc-(i+1)
    print ("words %s \t coef \t %f" % (features_by_ind[int(sorted_array[ind][0])],  sorted_array[ind][1]))

words distanc 	 coef 	 0.924824
words ks94 	 coef 	 0.917993
words allenenbot 	 coef 	 0.911874
words itssselenaluna 	 coef 	 0.903681
words disneyirh 	 coef 	 0.898055
words nochilllukeham 	 coef 	 0.851631
words awar 	 coef 	 0.841359
words x1392 	 coef 	 0.828217
words soonermag 	 coef 	 0.824277
words prob 	 coef 	 0.823648
words hiroshima 	 coef 	 0.767220
words toddyrockstar 	 coef 	 0.765711
words grate 	 coef 	 0.763147
words sevenfigz 	 coef 	 0.763081
words lorr 	 coef 	 0.753842
words tianta 	 coef 	 0.749495
words jrowah 	 coef 	 0.749257
words daviesmutia 	 coef 	 0.748856
words signup 	 coef 	 0.748804
words temecafreeman 	 coef 	 0.748115